<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">

    <a class="navbar-brand">
      Garage Management
    </a>

    <div>

      <a
        routerLink="/"
        class="btn btn-outline-light me-2">
        Dashboard
      </a>

      <a
        routerLink="/customers"
        class="btn btn-outline-light me-2">
        Customers
      </a>

      <a
        routerLink="/add-customer"
        class="btn btn-warning">
        Add Customer
      </a>

    </div>

  </div>

</nav>

<router-outlet></router-outlet>